<div class="w-[90%] mx-auto my-10">
  <h1 class="mb-10 text-gray-700 text-4xl">{{"categories.All Categories" | translate}}</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    @for (category of categoriesList(); track category._id) {
      <div class="rounded-2xl shadow-lg overflow-hidden shadow relative flex flex-col h-100">
        <div class="relative group flex-1">
          <div class="h-full bg-cover bg-center" [style.backgroundImage]="'url(' + category.image + ')'"> </div>
          <div class="absolute inset-0 bg-black/35 group-hover:bg-black/30 transition"></div>
          <div class="absolute inset-0 flex items-center justify-center cursor-pointer" [routerLink]="['/categoryProducts', category?.name]">
            <h2 class="text-xl font-bold text-white">{{ category.name }}</h2>
          </div>
          <button
            *ngIf="category.hasSubcategories"
            (click)="toggleCategory(category._id)"
            class="absolute bottom-3 right-3 text-white p-1 bg-black/40 rounded-full hover:bg-black/60 transition"
          >
          <svg [class.rotate-180]="isOpen(category._id)" 
                 class="w-5 h-5 transform transition-transform"
                 fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7" />
            </svg>
          </button>
        </div>

        <div *ngIf="isOpen(category._id)" class="bg-gray-50 p-4">
          <ul class="grid grid-cols-2 gap-3">
            @for (sub of subCategoriesList(); track sub._id) {
              <li>
                <a [routerLink]="['/subcategoryProducts', sub.name]"
                   class="block px-3 py-2 bg-white border rounded-lg shadow-sm text-center text-sm font-medium text-gray-700 hover:bg-green-50 hover:text-green-700 transition">
                  {{ sub.name }}
                </a>
              </li>
            }
          </ul>
        </div>

      </div>
    }
  </div>
</div>
