

<nav class="bg-white border-gray-200 w-full shadow">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 w-[90%]">
    <a class="flex items-center space-x-3 rtl:space-x-reverse"
      routerLink="/home">
      <img src="./images/freshcart-logo.svg" class="h-8" alt="Flowbite Logo" />
    </a>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      @if (isLoggedin) {
      <!-- <i class="fa-solid fa-heart text-xl text-gray-700 hover:text-green-600 transition-color duration-200 mx-4" routerLink="/wishlist"></i> -->

      <button type="button"
        class="relative inline-flex items-center py-3 me-3 text-center text-white">
        <i
          class="fa-solid fa-heart text-xl text-gray-700 hover:text-green-600 transition-color duration-200 mx-4"
          routerLink="/wishlist"></i>

        <span class="sr-only">Notifications</span>
        <div
          class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-600 rounded-full -top-2 -end-2">{{wishlistNumber}}</div>
      </button>

      <button type="button"
        class="relative inline-flex items-center py-3 me-3 text-center text-white">
        <i
          class="fa-solid fa-cart-shopping text-xl text-gray-700 hover:text-green-600 transition-color duration-200 mx-4"
          routerLink="/cart"></i>

        <span class="sr-only">Notifications</span>
        <div
          class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-600 rounded-full -top-2 -end-2">{{cartNumber}}</div>
      </button>

      }
      <button type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300"
        id="user-menu-button" aria-expanded="false"
        data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" src="./images/avatar.svg"
          alt="user photo">
      </button>
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
        id="user-dropdown">
        @if(isLoggedin){
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900">{{user?.name}}</span>
            <span
              class="block text-sm  text-gray-500 truncate">{{userEmail}}</span>
          </div>
        }
        <ul class="py-2" aria-labelledby="user-menu-button">
          <!-- <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dashboard</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
          </li> -->
          @if (!isLoggedin) {
          <li>
            <a routerLink="/signup"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{"form.Signup" | translate}}</a>
          </li>
          <li>
            <a routerLink="/login"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{"form.Login" | translate}}</a>
          </li>
          }
          @if (isLoggedin) {
          <li>
            <a (click)="logout()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{"navbar.Logout" | translate}}</a>
          </li>
          }
        </ul>
      </div>
      @if (currentLang === 'en') {
        <button (click)="switchLang('ar')"
          class="ms-5 py-1  rounded text-gray-700 hover:text-green-600">
          AR
        </button>
      }
      @if (currentLang === 'ar') {
        <button (click)="switchLang('en')"
          class="ms-5 py-1  rounded text-gray-700 hover:text-green-600">
          EN
        </button>
      }
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 md:flex-row md:mt-0 md:border-0 ">
        <li>
          <a
            class="py-2 px-3 text-gray-700 hover:text-green-600 transition-color duration-200"
            routerLink="/home" routerLinkActive="text-green-600"
            aria-current="page">{{"common.Home" | translate}}</a>
        </li>
        <li>
          <a
            class="py-2 px-3 text-gray-700 hover:text-green-600 transition-color duration-200"
            routerLink="/products"
            routerLinkActive="text-green-600">{{"navbar.Products" | translate}}</a>
        </li>
        <li>
          <a
            class="py-2 px-3 text-gray-700 hover:text-green-600 transition-color duration-200"
            routerLink="/categories"
            routerLinkActive="text-green-600">{{"common.Categories" | translate}}</a>
        </li>
        <li>
          <a
            class="py-2 px-3 text-gray-700 hover:text-green-600 transition-color duration-200"
            routerLink="/brands" routerLinkActive="text-green-600">{{"common.Brands" | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
