<footer class="bg-white text-gray-700 pt-12 pb-8 border-t border-gray-100 shadow">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <h2 class="text-gray-700 text-lg font-semibold mb-4">{{"footer.About Us" | translate}}</h2>
        <p class="text-sm leading-6">
            {{"footer.About us sentence" | translate}}
        </p>
      </div>

      <div>
        <h2 class="text-gray-700 text-lg font-semibold mb-4">{{"footer.Quick Links" | translate}}</h2>
        <ul class="space-y-2 text-sm">
          <li><a routerLink="/home" class="hover:text-green-600">{{"common.Home" | translate}}</a></li>
          <li><a routerLink="/products" class="hover:text-green-600">{{"footer.Shop" | translate}}</a></li>
          <li><a routerLink="/categories" class="hover:text-green-600">{{"common.Categories" | translate}}</a></li>
          <li><a routerLink="/brands" class="hover:text-green-600">{{"common.Brands" | translate}}</a></li>
        </ul>
      </div>

      <div>
        <h2 class="text-gray-700 text-lg font-semibold mb-4">{{"footer.Contact Us" | translate}}</h2>
        <ul class="space-y-2 text-sm">
          <li>{{"form.Email" | translate}}: support@example.com</li>
          <li>{{"footer.Phone" | translate}}: +123 456 789</li>
          <li>{{"footer.Address" | translate}}: 123 Street, City</li>
        </ul>
      </div>

      <div>
        <h2 class="text-gray-700 text-lg font-semibold mb-4">{{"footer.Subscribe" | translate}}</h2>
        <form class="flex flex-col space-y-3">
          <input type="email" [placeholder]="'footer.Enter your email' | translate" class="px-3 py-2 rounded-md border border-gray-300 focus:ring-2 focus:ring-green-600"/>
          <button class="bg-green-600 hover:bg-green-700 text-white px-3 py-2 rounded-md text-sm font-medium">
            {{"footer.Subscribe" | translate}}
          </button>
        </form>
      </div>

    </div>

    <div class="border-t border-gray-200 my-8"></div>

    <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-6">
      <div class="flex space-x-4 text-gray-500">
        <a href="#" class="hover:text-green-600"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="hover:text-green-600"><i class="fab fa-twitter"></i></a>
        <a href="#" class="hover:text-green-600"><i class="fab fa-instagram"></i></a>
        <a href="#" class="hover:text-green-600"><i class="fa-brands fa-tiktok"></i></a>
      </div>
  
      <div class="flex space-x-4">
        <img src="images/amazon-pay.png" alt="Amazon" class="w-12"/>
        <img src="images/mastercard.webp" alt="MasterCard" class="w-12"/>
        <img src="images/American-Express-Color.png" alt="Amex" class="w-12"/>
        <img src="images/paypal.png" alt="PayPal" class="w-12"/>
      </div>
      
      <p class="text-xs text-gray-500">&copy; {{"footer.copyright" | translate}}</p>
      
    </div>
  </footer>
  